$primary-color: #2563eb;
$hover-color: #1d4ed8;
$background-color: #0f172a;
$profile-bg-color: #1e293b;
$white: white;

// body {
//   margin: 0;
//   padding: 0;
//   font-family: Arial, sans-serif;
//   background-color: $background-color;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $white;
  height: 100vh;
}

.profile {
  background-color: $profile-bg-color;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 600px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px auto;
}

.info {
  h1 {
    font-size: 24px;
    color: $white;
    text-align: center;
  }

  h3 {
    color: $white;
    text-align: center;
  }
}

.field {
  margin-bottom: 15px;

  p {
    margin: 0;
    font-size: 16px;
    color: $white;
  }
}

.field-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #cccccc54;
  padding-bottom: 16px;

  p {
    flex-grow: 1;
    margin-right: 10px;
  }

  .small-edit-button {
    font-size: 14px;
    padding: 5px 10px;
    color: $primary-color;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }
}

.small-edit-button {
  background-color: transparent;
  color: $primary-color;
  border: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.edit-button {
  background-color: transparent;
  color: $primary-color;
  border: 2px solid $primary-color;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 0 auto 20px auto;
  width: fit-content;

  &:hover {
    background-color: $hover-color;
    color: $white;
    transition: background-color 0.3s ease;
  }
}

@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;

  &:hover {
    background-color: $hover-color;
  }
}

.button {
  @include button-style($primary-color, $white);
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
}
