@import "../../styles/variables";

.text {
  text-align: center;
  text-shadow: #0000004d 0px 1px 4px;
  font-size: 50px;
  color: white;
  margin-top: 20px;
}

.home-page {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 110px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;

  // &__filter {
  // }

  &__filter-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__item {
      width: 21%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #00131a;
      padding: 20px 15px;
      border-radius: 10px;
      cursor: pointer;
      color: #ccc;

      &:hover {
        background-color: #00273e;
      }

      p {
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  .event-list {
    flex-grow: 1;
    padding: 20px;
  }

  &__location {
    width: 100%;
  }

  &__location-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  &__title {
    @include title;
  }
}
