@import "../../styles/variables";

.text {
  text-align: center;
  text-shadow: #0000004d 0px 1px 4px;
  font-size: 50px;
  color: white;
  margin-top: 20px;
}

.home-page {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 110px;
  color: white;

  .event-list {
    flex-grow: 1;
    padding: 20px;
  }

  &__location {
    width: 100%;

    &:nth-child(2) {
      margin-top: 50px;
    }
  }

  &__location-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  &__title {
    @include title;
  }
}
