.venue-card {
  position: relative;
  width: 100%;
  max-width: 373px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;

  &__image-container {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    object-fit: cover;
  }

  &__image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  &__content {
    width: 100%;
    color: #ffffff;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__description {
    font-size: 14px;
    opacity: 0.8;
  }
}
