@import '../styles/variables'; // Đảm bảo đường dẫn đúng


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $primary-color;
  color: white;

  &__logo {
    font-size: 1.8rem;
    font-weight: bold;
  }

  &__nav {
    display: flex;
    cursor: pointer;
    p {
      color: white;
      margin-left: 20px;
      text-decoration: none;
      font-size: 1rem;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
