.edit-container {
  width: 48%;
  margin: 30px auto;

  .path {
    display: flex;
    gap: 20px;
    font-weight: 400;

    p {
      color: #667175;

      &:first-child {
        color: #00b6e4;
      }
    }
  }
}
