@import "../../styles/variables"; // Đảm bảo đường dẫn đúng

.footer {
  background-color: $primary-color;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;

  position: static;
  bottom: 0;
  left: 0;
  z-index: 1;

  p {
    margin: 5px 0;
  }
}
