.admin-package-page {
  padding: 20px;
  background-color: #1e1e2f; // Dark background
  border-radius: 8px;
 

  .admin-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff; // White text for contrast
  }

  .action-button {
    background-color: #4caf50; // Green
    color: white;
    border: none;
    border-radius: 4px;
    

    &:hover {
      background-color: #45a049; // Darker green
    }
  }

  .admin-table {
    margin-bottom: 20px;
    background-color: #2a2a2a; // Darker table background
    border-radius: 8px;
    overflow: hidden; // For rounded corners
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

    .ant-table-thead > tr > th {
      background-color: #2a2a40; // Dark gray header
      color: #ffffff; // White text
      font-weight: bold;
    }

    .ant-table-tbody > tr:hover {
      background-color: #2a2a40; // Slightly lighter gray on hover
    }

    .action-button {
      color: #f1f5f8; // Blue
      &:hover {
        color: #2a2a40; // Lighter blue
      }
    }

    .delete-button {
      margin: 20px;
      background-color: #f44336; // Red
      color: #f1f5f8; // Red
      &:hover {
        color: #ff7875; // Lighter red
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .ant-pagination {
      border-radius: 8px;
    }
  }

  .modal {
    .ant-modal-header {
      background-color: #4caf50; // Green
      color: white;
      border-radius: 8px 8px 0 0;

      .ant-modal-title {
        color: white;
      }
    }

    .ant-modal-body {
      padding: 20px;
      background-color: #2a2a40; // Darker modal body

      .ant-form-item {
        margin-bottom: 16px;

        label {
          font-weight: bold;
          color: #ffffff; // White text for labels
        }
      }

      .ant-input,
      .ant-input-number {
        border-radius: 4px;
        border: 1px solid #2a2a40; // Darker border
        background-color: #2a2a40; // Dark background for inputs
        color: #ffffff; // White text in inputs

        &:hover,
        &:focus {
          border-color: #4caf50; // Green on focus
        }
      }
    }

    .ant-modal-footer {
      display: flex;
      justify-content: flex-end;

      .action-button {
        margin-right: 8px;
      }
    }
  }
}
